* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #545454;
    background-color: #f0ead6;
  }

main {
    flex: 1 0 auto;
}

img {
    max-width: 100%;
}
h4 {
    font-size: 2rem;
    margin-top: .5rem;
}

.sidenav {
    margin-top: 50px;
}
.card .card-action {
    border-top: none;
    margin-bottom: .5rem;
}
.user-welcome {
    margin-top: 1rem;
}
.wrap {
    padding: 1em;
    background-color: white;
}
.job-detail {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
}
.profile-image {
    max-width: 50%;
}
.pos-links {
    display: flex;
    justify-content: space-around;
}
.pos-single-link {
    padding: 20px;
}
.company-pros {
    box-sizing: border-box;
    float: left;
    height: 390px;
    margin: 15px;
}
.profiles-display {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.pro-card {
    height: 100%;
    padding: 0 5px;

}
.clear {
  content: "";
  display: table;
  clear: both;
}

input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    position: relative;
    opacity: 1;
}
select {
    display: flex;
}

label {
    color: #424242 ;
    margin-right: 10px;
    font-size: 1em;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 10px auto 10px auto;
    padding-bottom: 10px;
    justify-content: space-around;
    
}
.skill {
    display: flex;
}
.work-exp {
    text-align: center;
}
.exp-list {
    display: inline-block;
    text-align: left;
}
.back-link {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 10%;
}
.profile-logo {
    max-width: 50%;
    margin-top: 20px;
}
.job-filter {
    padding: 30px;
}
.pos-card {
    padding: 50px;
}
.sign-up {
    text-align: center;
}


@media screen and (max-width: 600px) {
    .company-pros {
        min-width: 90%;
        max-width: 90%;
    }
    .profile-image {
        max-width: 98%;
        max-height: auto;
    }
}

@media screen and (min-width: 601px) {
    .company-pros {
        min-width: 45%;
        max-width: 45%;
    }
    .profile-image {
        max-width: 98%;
        max-height: auto;
    }
}
@media screen and (min-width: 899px) {
    .company-pros {
        min-width: 30%;
        max-width: 30%;
    }
    .profile-image {
        width: ;
    }
}