{% extends 'base.html' %}
{% block content %}

<a href="{% url 'hire_o_mat:user_home' %}">back</a>

{% if companyprofile.logo %}
    <img src='{{ companyprofile.logo.url }}' />
{% endif %}

<h1>{{ companyprofile.company_name }}</h1>
<h2>{{ companyprofile.contact_email }}</h2>
<h2>{{ companyprofile.about }}</h2>

{% for city in companyprofile.city.all %}
    <h4>{{city}}</h4>
{% endfor %}
<h2>Current Open Positions</h2>
{% for pos in position %}
    {% if companyprofile == pos.company %}

    <a href="{% url 'hire_o_mat:job_detail' pos.pk %}">{{ pos.position }}</a>
    {% endif %}
{% endfor %}
{% endblock %}