{% extends 'base.html' %}
{% block content %}

<a class="back-link" href="{% url 'hire_o_mat:user_home' %}">back</a>


<div class="profiles-display center">

    {% for profile in object_list %}
        <a class="company-pros clear" href="{% url 'hire_o_mat:company_profile_detail' profile.pk %}"><div class="card pro-card">
            {% if profile.logo %}
                <img class="profile-logo" src='{{ profile.logo.url }}' />
            {% else %}
                <img class="profile-logo" src='/images/images/logo-placeholder.jpg' />
            {% endif %}

            <h4>{{ profile.company_name }}</h4>
            <p>{{ profile.contact_email }}</p>

            <br>
        </div></a>
    {% endfor %}
</div>


{% endblock %}