{% extends 'base.html' %}
{% block content %}

<a class="back-link" href="{% url 'hire_o_mat:user_home' %}"><i class="material-icons">home</i></a>
<div class="container center">
<h2>Edit Profile</h2>

    <form 
        action="{% url 'hire_o_mat:edit_user_profile' user.userprofile.id %}" 
        method="post" 
        enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Save Profile">
        
    </form>
    <br>
    <br>
</div>

{% endblock %}