{% extends 'base.html' %}
{% block content %}

<h2>A dating app for employment!</h2>
<h3>For Businesses</h3>
<p>Are you tired of sifting through endless resumes? There's got to be an easier way!<br/>
    Now with Hire-O-Mat, you can see who is interested in an easy-to-use format, and quickly<br/>
    create a list of viable candidates. Sign up today!</p>
<hr>

<h3>For Job-Seekers</h3>
<p>Think your resume is getting lost in the shuffle? Stand out with Hire-O-Mat!<br/>
Create a meaningful, engaging profile that highlights the things you want to tell<br/>
about yourself. Find jobs that suit your skills. Tell hiring companies you're interested.<br/>
All through one simple, easy-to-use platform. Sign up today!
</p>

{% endblock %}