{% extends 'base.html' %}
{% block content %}
<a href="{% url 'hire_o_mat:user_home' %}">Home</a>

<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>

{% for pos in filter.qs %}

    {% if pos.company.logo %}
        <img src='/images/{{ pos.company.logo }}' height="60" width="60"/>
    {% endif %}

    <h3>{{pos.company }}</h3>
    <h3>{{ pos.position }}</h3>
    <h3>{{ pos.description }}</h3>
    <a data-href="{{ pos.get_api_like_url }}" href="{{ pos.get_like_url }}" data-likes="pos.likes.count" class="like-btn"><p>Likes: {{ pos.likes.count }}</p></a>
    
    <hr/>
    <br/>
{% endfor %}
{% endblock %}