{% extends 'base.html' %}
{% block content %}
<a class="back-link" href="{% url 'hire_o_mat:company_profiles' %}">back</a>
<div class="container center">
    {% if position.company.logo.DoesNotExist %}
        <img src='/images/images/logo-placeholder.jpg' />
    {% else %}
        <img src='/images/{{ position.company.logo }}' /> 
    {% endif %}
    <h2><em>{{ position.position }}</em></h2>
    <h3>{{ position.company }}</h3>
    <h3>{{ position.description }}</h3>
    <p>Posted on {{ position.date_added }}</p>
    <a data-href="{{ position.get_api_like_url }}" href="{{ position.get_like_url }}" data-likes="position.likes.count" class="like-btn"><button>Likes: {{ position.likes.count }}</button></a>
    <br><br><br>
    {% if user.companyprofile.company_name == position.company %}
        {% if position.likes.count > 0 %}
            <h3>These job-seekers have shown interest:</h3>
        {% for user in position.likes.all %}
        <a href="{% url 'hire_o_mat:profile_detail' user.userprofile.pk %}">{{user.userprofile}}</a>
        {% endfor %}
        {% endif %}
    {% endif %}
</div>


{% endblock %}