{% extends 'base.html' %}
{% block content %}
<a class="back-link" href="{% url 'hire_o_mat:user_home' %}"><i class="material-icons">home</i></a>

<div class="container center">
    <div class="card job-filter">
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>


        {% for pos in filter.qs %}
            <a href="{% url 'hire_o_mat:job_detail' pos.pk %}">
                <div class="card">
                    <h2>{{ pos.position }}</h2>
                    {% if pos.company.logo %}
                        <img class="profile-logo" src='/images/{{ pos.company.logo }}'/>
                    {% else %}
                        <img class="profile-logo" src='/images/images/logo-placeholder.jpg' />
                    {% endif %}
                    <h2>{{pos.company }}</h2>
                    
                    <a data-href="{{ pos.get_api_like_url }}" href="{{ pos.get_like_url }}" data-likes="pos.likes.count" class="like-btn">Likes: {{ pos.likes.count }}</a>
                    <br><br>
                </div>
            </a>

        {% endfor %}
</div>
{% endblock %}