{% extends 'base.html' %}
{% block content %}

<a class="back-link" href="{% url 'hire_o_mat:user_home' %}"><i class="material-icons">home</i></a>
<div class="container center">
    <div class="card search-card">
        <h3 class="search-title">Search Candidates</h3>
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>
</div>
<div class="profiles-display center">

    {% for profile in filter.qs %}
        <a class="company-pros clear" href="{% url 'hire_o_mat:profile_detail' profile.pk %}"><div class="card pro-card">
            {% if profile.photo %}
                <img class="search-image" src='{{ profile.photo.url }}' />
            {% else %}
                <img class="user-image" src='/images/images/user-placeholder.png' />
            {% endif %}

            <h4>{{profile.user.first_name}} {{profile.user.last_name}}</h4>
            <p>{{profile.tagline}}</p>
            <br>
        </div></a>

    {% endfor %}
</div>
{% endblock %}