{% extends 'base.html' %}
{% block content %}

<a href="{% url 'hire_o_mat:user_home' %}"><i class="material-icons">home</i></a>
<div class="profiles-display center">
{% for profile in object_list %}
    <a class="company-pros clear" href="{% url 'hire_o_mat:profile_detail' profile.pk %}"><div class="card pro-card">
        {% if profile.photo %}
            <img class="user-image" src='{{ profile.photo.url }}' />
        {% else %}
            <img class="profile-logo" src='/images/images/user-placeholder.jpg' />
        {% endif %}

        <h1>{{profile.first_name}} {{profile.last_name}}</h1>
        <h3>{{profile.tagline}}</h3>

        <br/>
    </div></a>

{% endfor %}

{% endblock %}
