{% extends 'base.html' %}
{% block content %}
{% if user.first_name %}
<h1>Hi {{ user.first_name }}!</h1>
{% else %}
<h1>Hi {{ user.username }}!</h1>
{% endif %}
<h2>View user profiles</h2>
<a href="{% url 'hire_o_mat:profiles' %}"><button>View profiles</button></a>
<h2>View company profiles</h2>
<a href="{% url 'hire_o_mat:company_profiles' %}"><button>View company profiles</button></a>
{% if user.userprofile %}
<h2>View my user profile</h2>
<a href="{% url 'hire_o_mat:my_user_profile' %}"><button>My Profile</button></a>
{% else %}
<h2>Please create a user profile:</h2>
<a href="{% url 'hire_o_mat:create_user_profile' %}"><button>Personal Profile</button></a>
{% endif %}
{% if user.companyprofile %}
<h2>View my Company profile</h2>
<a href="{% url 'hire_o_mat:my_company_profile' %}"><button>My Company Profile</button></a>
<a href="{% url 'hire_o_mat:create_job' %}"><button>Create Job Listing</button></a>
<a href="{% url 'hire_o_mat:jobs' %}"><button>Job Listings</button></a>
{% else %}
<h2>Please create a company profile</h2>
<a href="{% url 'hire_o_mat:create_company_profile' %}"><button>Company Profile</button></a>
{% endif %}
{% endblock %}