{% extends 'base.html' %}
{% block content %}
<header class="center" id="user-home-header">
    
    {% if user.companyprofile %}
        {% if user.companyprofile.logo %}
            <br>
            <br>
            <img src='/images/{{ user.companyprofile.logo }}' height="200" width="200"/>
        {% endif %}
        <h1 class="user-welcome">Hi {{ user.companyprofile.company_name }} </h1>
    {% elif user.first_name %}
        <h1>Hi {{ user.first_name }}!</h1>
    {% else %}
        <h1>Hi {{ user.username }}!</h1>
    {% endif %}
    <hr>
</header>
{% if user.companyprofile %}
    <div class="container center">

        <div class="card">
            <div class="card-action">
                <br>
                <a href="{% url 'hire_o_mat:search_profiles' %}">
                    <h4>Search Profiles</h4>
                </a>
            </div>
        </div>
            <div class="card">
                <div class="card-action">
                <a href="{% url 'hire_o_mat:my_company_profile' %}">
                    <h4>My Company Profile</h4>
                </a>
                <br>
            </div>
        </div>
        
        <div class="card">
            <br>
            <div class="card-action">
                <h4>CURRENT OPEN POSITIONS</h4>
                <br>
                <div class="container">
                    {% if position|length > 0 %}
                        {% for pos in position %}
                            <div class="job-detail">
                                <a class="left" href="{% url 'hire_o_mat:job_detail' pos.pk %}">{{ pos.position }}</a>
                                <p class="right">Likes: {{pos.likes.count}}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        None
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-action">
                <h4>My Messages</h4>
                {% for message in messages %}
                    <a href="{% url 'hire_o_mat:message_detail' message.pk %}">{{ message }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="card">
            <br>
            <div class="card-action">
                <a href="{% url 'hire_o_mat:create_job' %}">
                    <h4>Create Job Listing</h4>
                </a>
            </div>
            <br>
        </div>

        

    </div>
{% elif user.userprofile %}
<div class="container center">

    <div class="card">
        <div class="card-action">
            <h4>LIKED JOBS</h4>
            {% for like in likes %}
                <a class="cyan-text darken-4" href="{% url 'hire_o_mat:job_detail' like.pk %}">{{ like }}</a>
            {% endfor %}
        </div>
    </div>
    

    <div class="card">
        <div class="card-action">
            <a href="{% url 'hire_o_mat:company_profiles' %}">
                <h4>View company profiles</h4>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-action">
            <a href="{% url 'hire_o_mat:my_user_profile' %}">
                <h4>View My Profile</h4>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-action">
            <h4>MY MESSAGES</h4>
            {% for message in messages %}
                <a href="{% url 'hire_o_mat:message_detail' message.pk %}">{{ message }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <div class="card-action">
            <a href="{% url 'hire_o_mat:search_jobs' %}">
                <h4>Search Job Listings</h4>
            </a>
        </div>
    </div>
</div>   
{% else %}
<div class="container center">
    <div class="card">
        <div class="card-action">
            <a href="{% url 'hire_o_mat:create_user_profile' %}">
                <h4>Create a Personal Profile</h4>
            </a>
        </div>
    </div>
</div>

<div class="container center">
    <div class="card">
        <div class="card-action">
            <a href="{% url 'hire_o_mat:create_company_profile' %}">
                <h4>Company Profile</h4>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% if user.companyprofile and user.userprofile %}
    
{% endif %}

{% endblock %}